<style>
	.form-container {
		width: 400px;
		margin: 0 auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
	}

	label {
    font-weight: bold;
  }

  /* Style for form input fields */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Hover effect for submit button */
  input[type="submit"]:hover {
    background-color: #45a049;
  }
</style>


<div class="form-container">
	<h1>Sign Up</h1>

	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	
		<div class="field">
			<%= f.label :first_name %><br />
			<%= f.text_field :first_name %>
		</div>

		<div class="field">
			<%= f.label :last_name %><br />
			<%= f.text_field :last_name %>
		</div>

		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</div>

		<div class="field">
      <%= f.radio_button :role, "admin" %>
      <%= f.label :role, "Sign up as a Admin" %>
      <%= f.radio_button :role, "user" %>
      <%= f.label :role, "Sign up as a User" %>
    </div>

		<div class="actions"><%= f.submit "Sign Up" %></div>
	<% end %>
</div>