<style>
	.form-container {
		width: 400px;
		margin: 0 auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
	}

	label {
    font-weight: bold;
  }

	input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

	input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

	input[type="submit"]:hover {
    background-color: blue;
  }

</style>

<div class="form-container">
	<h2>Edit book</h2>

	<%= form_with model: @book do |form| %>
		<div>
			<%= form.label :name %><br>
			<%= form.text_field :name %>
		</div>

		<div>
			<%= form.label :Author %><br>
			<%= form.text_field :author %>
		</div>

		<div>
			<%= form.label :genr %><br>
			<%= form.text_field :genr %>
		</div>

		<div>
			<%= form.label :Isbn %><br>
			<%= form.text_field :isbn %>
		</div>

		<div>
			<%= form.label :availability %><br>
			<%= form.text_field :availability %>
		</div>

		<div>
			<%= form.label :count %><br>
			<%= form.text_field :item_count %>
		</div>

		<div>
		<%= form.submit %>
		</div>

	<%end%>
</div>