<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Library Management System</a>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
  </html>
